@import 'tailwindcss';

@theme {
  --font-rounded: "Comfortaa", sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body,
  #root {
    height: 100%;

    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    -webkit-user-select: none;
    user-select: none;

    touch-action: none;

    overscroll-behavior: none;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  button {
    border: none;
    cursor: pointer;
    background: none;
    font: inherit;
  }
}

:root {
  --portrait-lock-rotate: -90deg;
}

@media screen and (orientation: landscape) {
  body:not([data-page="scanner"]) {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 100vh;
    height: 100vw;

    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(var(--portrait-lock-rotate));

    overflow: hidden;
  }
}
